body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:868px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:868px;
}
#u5831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5832 {
  position:absolute;
  left:309px;
  top:200px;
}
#u5832_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:587px;
  height:353px;
  background-image:none;
}
#u5832_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:353px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:159px;
  width:29px;
  height:59px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:25px;
  word-wrap:break-word;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:35px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5836_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:565px;
  word-wrap:break-word;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:287px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:45px;
  width:485px;
  height:287px;
}
#u5837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:481px;
  word-wrap:break-word;
}
#u5838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:6px;
  width:21px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u5839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:159px;
  width:29px;
  height:59px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:25px;
  word-wrap:break-word;
}
