.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.shape1 {
}
.line {
}
.paragraph {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.line1 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.table_cell {
}
.box_1 {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.box_3 {
}
.heading_12 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape2 {
}
.icon {
}
.box_11 {
}
.shape3 {
}
.checkbox {
  text-align:left;
}
.link_button {
  color:#169BD5;
}
._形状 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
.image1 {
  color:#000000;
}
.checkbox1 {
  text-align:left;
}
.button1 {
}
.button2 {
}
.icon1 {
}
.menu_item {
}
.heading_13 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon2 {
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.checkbox2 {
  text-align:left;
}
.box_2 {
}
.paragraph1 {
  text-align:left;
}
.placeholder1 {
}
.image2 {
  color:#000000;
}
.image3 {
  color:#000000;
}
._形状1 {
}
._图片 {
}
.droplist1 {
  color:#000000;
  text-align:left;
}
._形状2 {
}
.table_cell1 {
}
._形状3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.heading_14 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape4 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.new_style1 {
}
._模块按钮 {
}
.new_style {
}
